.images {
    display: flex;
    gap: 10px;
}

.imageItem {
    position: relative;
    width: 90px;
    height: 90px;
}

.imageNotUploaded {
    display: block;
    width: 100%;
    height: 100%;
    cursor: url(//yastatic.net/s3/web4static/_/v2/static/media/xmas-mitten_28.c8f51feb.svg) 4 2, pointer;
    background: #f0f0f0 url("../../../../../public/icons/plus.svg") no-repeat center;
}

.imageUploaded {
    display: block;
    width: 100%;
    height: 100%;
    cursor: url(//yastatic.net/s3/web4static/_/v2/static/media/xmas-mitten_28.c8f51feb.svg) 4 2, pointer;
    background: #f0f0f0 url("../../../../../public/img/OK.jpg") no-repeat center;
    background-size: 90px 90px;
}

.input {
    display: none;
}
