/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "SansSerif", sans-serif;
  cursor: url(//yastatic.net/s3/web4static/_/v2/static/media/xmas-tree_28.f811ab55.svg) 8 3, auto;
}
a,
input,
button:hover {
  cursor: url(//yastatic.net/s3/web4static/_/v2/static/media/xmas-mitten_28.c8f51feb.svg) 4 2, pointer;
}

body {
  width: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
