.notFound {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    gap: 40px;
}

.title {
    font-size: 40px;
}
